@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #012;
    color: #fff;
    text-align: center;
    height: 200px;
    padding: 100px 0;
}

header h1 {
    margin: 0;
    padding: 25px 0;
    font-size: 4em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.5em;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 20px 0;
    /* background-color: #f4f4f4; */
}

section {
    padding: 20px;
    width: 45%;
    float: left;
    border: #08f solid 5px;
    border-radius: 50px;
    margin: 15px;
}

section h2 {
    margin-top: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
}

.video-grid video {
    height: 250px;
    width: auto;
    display: block;
    border-radius: 16px;
}

.video-grid .vertical {
    height: 500px;
    width: auto;
    display: block;
    border-radius: 16px;
} 

footer {
    background-color: #012;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

footer nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 0 75px;
}

footer nav ul li a {
    text-decoration: none;
    font-weight: 400;
    color: #aff;
    font-size: 16px;
    padding: 0px 0px;
    transition: 0.25s;
}
footer nav ul li a:hover {
    font-weight: 800;
    color: #6df;
    font-size: 32px;
}

.recent{
    border: aqua 5px solid;
}